@model PhotoHomeListingViewModel
@{
    ViewData["Title"] = "Home";
}

<div>
    @foreach (var photo in Model.Photos)
    {
        @Html.Partial("_PhotoPartial", new PhotoParcialViewModel
        {
            Photo = photo,
            User = Model.User
        })
    }
    <br/>
</div>