@model SearchViewModel
@{
    ViewData["Title"] = "Search";
}
<section id="search">
    <div class="container">
        <div class="row col-xs-12">
            <form asp-controller="Home" asp-action="SearchResults"
                  data-ajax="true" data-ajax-method="GET"
                  data-ajax-update="#results" data-ajax-mode="replace" id="searchForm">
                
                <div class="col-xs-12 col-sm-4">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </div>
                        <input asp-for="SearchText" oninput="$('#searchForm').submit()" class="form-control" placeholder="Live Search..." />
                    </div>
                </div>

                <div class="row col-xs-12 col-sm-8">
                    <div class="col-sm-3 checkbox">
                        <label asp-for="SearchInPhotos">
                            <input asp-for="SearchInPhotos" onclick="$('#searchForm').submit()" />
                            PHOTOS
                        </label>
                    </div>
                    <div class="col-sm-3 checkbox">
                        <label asp-for="SearchInAlbums">
                            <input asp-for="SearchInAlbums" onclick="$('#searchForm').submit()" />
                            ALBUMS
                        </label>
                    </div>
                    <div class="col-sm-3 checkbox">
                        <label asp-for="SearchInUsers">
                            <input asp-for="SearchInUsers" onclick="$('#searchForm').submit()" />
                            USERS
                        </label>
                    </div>
                    <div class="col-sm-3 checkbox">
                        <label asp-for="SearchInAds">
                            <input asp-for="SearchInAds" onclick="$('#searchForm').submit()" />
                            ADS
                        </label>
                    </div>
                </div>

            </form>
        </div>
        
        <div id="results">
            @Html.Partial("_SearchResults", Model.Results)
        </div>
    </div>
</section>

<script>
    window.onload = function () {
        $('#searchForm').submit();
    }
</script>