@model IEnumerable<AlbumListingServiceModel>

@foreach (var album in Model)
{
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a asp-controller="Albums" asp-action="Details" asp-route-id="@album.Id">@album.Title</a>
            </div>
            <div class="panel-body">
                @album.CategoryName - @album.PublishDate.ToShortDateString()
            </div>
        </div>
    </div>

}