@model IEnumerable<CommentServiceModel>

@if (Model.Any())
{ 
    foreach (var comment in Model)
    {
        <div class="col-xs-12 comment">
            <div class="col-xs-12" style="padding: 0;">
                @if (comment.Author != null)
                {
                    <h6><b>@comment.Author</b> @comment.Content</h6>
                }
                else
                {
                    <h6><b>Anonymous</b> @comment.Content</h6>
                }
            </div>
            <div class="col-xs-12" style="padding: 0;">
                <small><em>@comment.PublishDate.ToString().CalculateDateDifference()</em></small>
            </div>
        </div>
    }
}
else
{
    <div>
        <p>
            <h5>(no comments)</h5>
        </p>
    </div>
}