@model IEnumerable<PhotoLikerServiceModel>

<h5 
    style="width: fit-content;"
    data-toggle="tooltip" 
    data-placement="bottom" 
    title="| 
     @foreach (var user in Model)
     {
         @(user.Username + " | ")
     }"
    >@Model.Count() likes</h5>

<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();   
    });
</script>