@using Snapbook.Services.Implementations
@model string
@inject NotificationService NotificationService
@{
    var count = NotificationService.FindUnRead(Model);
}

<li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Notifications" ? "current" : "")">
    <a asp-controller="Users"
       asp-action="Notifications"
       asp-route-username="@Model"
       ><i class="fa fa-bell-o" aria-hidden="true"></i> Notifications @if(count > 0) {<span class="badge">@count</span>}
    </a>
</li>