@model EditProfilePicViewModel

@{
    ViewData["Title"] = "Change Profile Picture";
}

<h2>Manage your account</h2>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <h4>Change Profile Picture.</h4>
            <hr/>
            <img src="@Model.ImageUrl" id="image_preview" alt="@Model.ImageUrl"/>
            <div class="form-group">
                <label asp-for="ImageUrl"></label>
                <input type="file" id="image_selector" />
                <input type="hidden" id="image_url" required asp-for="ImageUrl" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-success">Save</button>
        </form>
    </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript"></script>

<script>
    var clientid = '30f327ad6d6da1e';
    $("#image_selector").change(function() {
        var reader = new FileReader();
        reader.onload = function(e) {
            var data = e.target.result.substr(e.target.result.indexOf(",") + 1, e.target.result.length);
            $("#image_preview").attr("src", e.target.result);
            $("#image_preview").attr("alt", e.target.result);
            $.ajax({
                url: 'https://api.imgur.com/3/image',
                headers: {
                    'Authorization': 'Client-ID 30f327ad6d6da1e'
                },
                type: 'POST',
                data: {
                    'image': data,
                    'type': 'base64'
                },
                success: function(response) {
                    $("#image_preview").attr("src", response.data.link);
                    $("#image_preview").attr("alt", response.data.link);
                    $("#image_url").attr("value", response.data.link);
                }, error: function() {
                    alert("Error while uploading...");
                }
            });
        };
        reader.readAsDataURL(this.files[0]);
    });
</script>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}