@model IEnumerable<NotificationServiceModel>

@{
    ViewData["Title"] = "Notifications";
}

<h2>Notifications</h2>
    
@if (Model.Any())
{
    <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th>User</th>
            <th>Action</th>
            <th>Photo</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var notification in Model)
        {
            <tr>
                <td>@notification.SenderId</td>
                <td>@notification.Action</td>
                <td>@notification.PhotoId</td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <h3>You currently have no notifications.</h3>
}