@{
    ViewData["Title"] = "Admin Panel";
}

<h2>@ViewData["Title"]</h2>

<ul>
    <li><a asp-area="Admin" asp-controller="Users" asp-action="AddToRole">Manage User Roles</a></li>
    <li><a asp-area="Admin" asp-controller="Categories" asp-action="All">Manage Album Categories</a></li>
</ul>